body {
  margin: 0;
  overflow: hidden;
}

.blog-frame {
  width: 100vw;
  height: 100vh;
  border: none;
}

/* 플레이어 */
.player {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}

.player.open {
  width: 260px;
  height: 160px;
  border-radius: 10px;
}

.toggle {
  width: 60px;
  height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.player-ui {
  display: none;
}

.player.open .player-ui {
  display: flex;
}

iframe {
  width: 120px;
  height: 90px;
  border: none;
}

.controls button {
  margin: 2px;
}

#shimeji {
  position: fixed;
  width: 100px;
  top: 100px;
  left: 100px;
}
